
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat+Alternates:wght@500&family=Montserrat:wght@500;800&family=Rubik+Mono+One&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    
}
  #navbar{
    margin-left: 10%;
  }
  .nav-item{
    font-size: 1.5rem;
    font-weight: bold;
    
  }
  .artical-date{
    color: blue;
  }
  p{
    font-family: cursive;
  }